body {
  min-height: 100vh;
  min-width: 100vw;
  background: #fcfbfb;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  min-height: 100%;
  min-width: 100vw;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  background: transparent;
  overflow-x: hidden;
}
